.body {
  font-family: serif;
  font-size: 12px;
  background: #fff;
}

.container {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #eff5f9;
  padding-top: 30px;
}

.logo {
  width: 146px;
  height: 105px;
  margin: 0 auto;
}

.navigation {
  width: 960px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.navigation li {
  width: 191px;
  height: 35px;
  padding-top: 15px;
  color: #5d5d5d;
  float: left;
  text-align: center;
  border-left: 1px solid #5d5d5d;
  list-style: none;
}

.clear {
  clear: both;
}