<div id="head_top"></div>
<div id="container">
  <header>
  <div id="logo">
    <a href="#">
      <img src="step1_img/logo.png">
    </a>
  </div>
  </header>
  <div id="nav_1"><a href="#"><img src="stepl_img/nav_1.png"></a></div>
  <div id="nav_2"><a href="#"><img src="stepl_img/nav_1.png"></a></div>
  <div id="nav_3"><a href="#"><img src="stepl_img/nav_1.png"></a></div>
  <div id="nav_4"><a href="#"><img src="stepl_img/nav_1.png"></a></div>
  <div id="nav_5"><a href="#"><img src="stepl_img/nav_1.png"></a></div>
  <div id="mainphoto">
    <img src="step1_img/mainphoto.png">
  </div>
  <div id="main">
    <!--Event-->
    <section id="event"></section>
  </div>
  <!--Main End-->
</div>